// GENERAL
* {
  padding: 0;
  margin: 0;
  border: 0;

  box-sizing: border-box;
}

// BACKGROUNDS
.bgc-white {
  background-color: $white;
}

// NAVBAR ACTIVE
.navbar-active {
  color: $havelock-blue;
  border-top: 1px solid $havelock-blue;
}

// BUTTONS
.shop-button {
  padding: 10px 20px;

  background-color: $havelock-blue;
  color:$white;

  border-radius: 20px;
}
