// BACKGROUNDS
.bgc-white {
  background-color: $white;
}

// NAVBAR ACTIVE
.navbar-active {
  color: $havelock-blue;
  border-top: 1px solid $havelock-blue;
}

// BUTTONS
.shop-button {
  padding: 10px 20px;

  background-color: $havelock-blue;
  color:$white;

  border-radius: 20px;
}

.jumbo-button {
  margin: 20px 10px;
  padding: 20px 40px;

  border: 3px solid $white;
  border-radius: 30px;

  background-color: rgba(255,255,255,0.1);

  color: $white;

  font-size: 20px;
}
