// RIEPILOGO OFFERTE
.best-deals-container {
  @include flex-center;

  .best-deals-column {
    @include flex-center;
    flex-direction: column;
    width: 15vw;

    h1 {
      color: $nevada-dark-muted;
      font-weight: normal;
    }

    .best-deals-card {
      @include flex-center;
      justify-content: space-between;
      border-bottom: 1px solid $edward-muted;
      margin: 10px 20px;
      width: 12vw;
      overflow-x: auto;

      .product-info {
        p {
          color: $nevada-dark-muted;
        }
        .stars {
          @include flex-center;
          height: 30px;
          margin-top: 10px 0;

          i {
            color: $havelock-blue;
          }
        }

        .product-price {
          .old-price {
            color: $shark;
            font-size: 14px;
            text-decoration: line-through;
          }

          .new-price {
            color: $shark;
            text-decoration: underline;
          }
        }
      }

      .product-image {
        margin: 5px;

        img {
          height: 80px;
          width: auto;
        }
      }
    }
  }
}

// BRAND LOGOS
.brand-logos {
  @include flex-center;
  flex-direction: column;
  background-color: $light-gray;
  margin-top: 50px;

  h4 {
    color: $nevada-dark-muted;
    margin-top: 50px;
    font-weight: normal;
  }

  .logos-container {
    @include flex-center;
    margin-bottom: 30px;

    img {
      margin: 10px;
    }
  }
}

// NEWSLETTER
.subscribe-container {
  height: 20vh;
  background-color: #303337;

  .subscribe-elements {
    height: 20vh;
    @include lateral-margin-20;
    @include flex-center;
    justify-content: space-around;

    .subscribe-info {
      @include flex-center;
      justify-content: space-around;

      .icon-container {
        height: 50px;
        width: 50px;
        background-color: $shark;
        border-radius: 50%;
        margin-right: 40px;
        @include flex-center;

        i {
          color: $fedora;
        }
      }

      h1 {
        color: $white;
        font-size: 30px;
      }
    }

    .subscribe-input {
      input {
        padding: 5px;
        border-radius: 30px;
      }
    }
  }
}

// SEZIONE FINALE FOOTER
.payment-methods-container {
  background-color: #1d1f22;
  @include flex-center;
  flex-direction: column;

  .company-info {
    margin-top: 20px;

    span {
      color: $white;
    }
  }

  img {
    margin: 20px 0;
  }
}
