.shop-bar {
  @include lateral-margin-20;
  @include flex-space-between;
  border-bottom: 2px solid $light-gray;

  .contact-icons {
    a {
      @include contact-icon;
    }
  }

  .shopping-buttons {
    button {
      height: 50px;
      padding: 0 10px;
      border-left: 1px solid $light-gray;
      color: $fedora;
    }

    .cart-button {
      padding: 0 60px;
      color: #000000;
    }
  }
}
