<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Classic shop</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="./assets/master.css">
</head>
<body>

  <header>

    <section class="fixed-bar">
      <div class="first-fixed-button">
        <i class="fas fa-folder-open"></i>
        <p>Demos</p>
      </div>
      <div class="fixed-button">
        <h1>39$</h1>
        <p>On Sale</p>
      </div>
    </section>

    <section>
      <div class="shop-bar">
        <div class="contact-icons">
          <a href=""><i class="fab fa-facebook-f"></i></a>
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
          <a href=""><i class="fab fa-youtube"></i></a>
        </div>
        <div class="shopping-buttons">
          <button class="bgc-white"> <span>Shopping cart</span> </button>
          <button class="bgc-white"> <span>My account</span> <i class="fas fa-angle-down"></i> </button>
          <button class="cart-button"> <i class="fas fa-shopping-cart"></i> <span>CART</span> <i class="fas fa-angle-down"></i></button>
        </div>
      </div>
    </section>

    <section>
      <div class="navbar">
        <div class="logo-left">
          <img src="./assets/img/classic_shop_logo1x.png" alt="logo avada">
        </div>
        <div class="nav-menu">
          <ul>
            <li class="navbar-active"><a href="">Home <i class="fas fa-angle-down"></i></a></li>
            <li><a href="">Shop <i class="fas fa-angle-down"></i></a></li>
            <li><a href="">Products <i class="fas fa-angle-down"></i></a></li>
            <li><a href="">Categories <i class="fas fa-angle-down"></i></a></li>
            <li><a href="">News <i class="fas fa-angle-down"></i></a></li>
            <li><a href="">Elements <i class="fas fa-angle-down"></i></a></li>
            <li><a href=""><button class="shop-button">SHOP NOW!</button></a></li>
            <li><i class="fas fa-search"></i></li>
          </ul>
        </div>
      </div>
    </section>

    <section>
      <div class="jumbo" style="background-image:url('./assets/img/home1_slide_three_bg_2.jpg')">
        <h1>Brand New Arrivals</h1>
        <h2>NEW COLLECTION FROM NEW YORK</h2>
        <div>
          <button class="jumbo-button">VIEW ALL</button>
          <button class="jumbo-button">LOOKBOOK</button>
        </div>
      </div>
    </section>

  </header>

  <main>

    <section>
      <div class="separator-title">
        <div class="hr-title"></div>
        <h1>Featured Products</h1>
        <div class="hr-title"></div>
      </div>
      <div class="separator-subtitle">
        <p>Must have products from our top sellers</p>
      </div>
    </section>

    <section id="category-display">
      <div class="category-buttons">
        <button v-for="(bottone, index) in listaElementi" @click="cambioCategoria(index)" :class="(categoriaAttiva == bottone.valore) ? 'active' : ''">{{bottone.categoria}}</button>
        <!-- <button @click="categoriaUomo" :class="(categoriaAttiva == 'uomo') ? 'active' : ''">Men</button>
        <button @click="categoriaDonna" :class="(categoriaAttiva == 'donna') ? 'active' : ''">Women</button>
        <button @click="categoriaAccessori" :class="(categoriaAttiva == 'accessori') ? 'active' : ''">Accessories</button> -->
      </div>
      <div class="category-cards men" v-if="categoriaAttiva === 'uomo'">
        <div class="card" v-for="elemento in offerteStagionaliUomo">
          <img :src="elemento.immagine" alt="">
          <div class="card-info">
            <h1 class="item-title">{{elemento.nome}}</h1>
            <p class="item-description">{{elemento.descrizione}}</p>
            <span class="item-old-price">{{elemento.vecchioPrezzo}}</span>
            <span class="item-new-price">{{elemento.nuovoPrezzo}}</span>
          </div>
        </div>
      </div>
      <div class="category-cards women" v-if="categoriaAttiva === 'donna'">
        <div class="card" v-for="elemento in offerteStagionaliDonna">
          <img :src="elemento.immagine" alt="">
          <div class="card-info">
            <h1 class="item-title">{{elemento.nome}}</h1>
            <p class="item-description">{{elemento.descrizione}}</p>
            <span class="item-old-price">{{elemento.vecchioPrezzo}}</span>
            <span class="item-new-price">{{elemento.nuovoPrezzo}}</span>
          </div>
        </div>
      </div>
      <div class="category-cards accessories" v-if="categoriaAttiva === 'accessori'">
        <div class="card" v-for="elemento in offerteStagionaliAccessori">
          <img :src="elemento.immagine" alt="">
          <div class="card-info">
            <h1 class="item-title">{{elemento.nome}}</h1>
            <p class="item-description">{{elemento.descrizione}}</p>
            <span class="item-old-price">{{elemento.vecchioPrezzo}}</span>
            <span class="item-new-price">{{elemento.nuovoPrezzo}}</span>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="season-display">
        <div class="season-jumbo" style="background-image:url('./assets/img/winter_collection_bg.jpg')">
          <div class="season-jumbo-text">
            <h1>Winter collection</h1>
            <h2>STYLISH AND WARM</h2>
            <div>
              <button class="jumbo-button">VIEW MORE</button>
            </div>
          </div>
        </div>
        <div class="season-jumbo" style="background-image:url('./assets/img/spring_collection_bg.jpg')">
          <div class="season-jumbo-text">
            <h1>Spring collection</h1>
            <h2>BRIGHT AND COLORFUL</h2>
            <div>
              <button class="jumbo-button">VIEW MORE</button>
            </div>
          </div>
        </div>
        <div class="season-jumbo" style="background-image:url('./assets/img/autumn_collection_bg.jpg')">
          <div class="season-jumbo-text">
            <h1>Autumn collection</h1>
            <h2>RICH AND COMFORTABLE</h2>
            <div>
              <button class="jumbo-button">VIEW MORE</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="separator-title">
        <div class="hr-title"></div>
        <h1>Best Sellers</h1>
        <div class="hr-title"></div>
      </div>
      <div class="separator-subtitle">
        <p>Must have products from our top sellers</p>
      </div>
    </section>

    <section id="arrow-display-small">
      <div class="arrow-display">
        <div class="scroll-left">
          <i class="fas fa-chevron-left"></i>
        </div>
        <div class="card" v-for="(immagine, index) in galleriaModelliSmall">
          <div class="card-image" v-if="index <= 4">
            <img :src="immagine" alt="">
          </div>
        </div>
        <div class="scroll-right">
          <i class="fas fa-chevron-right"></i>
        </div>
      </div>
    </section>

    <section>
      <div class="promotions-container" style="background-image: url('./assets/img/bkgd_confetti-compressor.jpg')">
        <div class="promotions-discount" style="background-image: url('./assets/img/promo_box_1_bg.jpg')">
          <div class="promotions-text">
            <h1>70% Off</h1>
            <h2>Lorem ipsum dolor sit amet ipsum dolor</h2>
            <div>
              <button class="jumbo-button">VIEW MORE</button>
            </div>
          </div>
        </div>
        <div class="promotions-shipping" style="background-image: url('./assets/img/promo_box_2_bg.jpg')">
          <div class="promotions-text">
            <h1>Free shipping</h1>
            <h2>Lorem ipsum dolor sit amet ipsum dolor</h2>
            <div>
              <button class="jumbo-button">VIEW MORE</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="separator-title">
        <div class="hr-title"></div>
        <h1>New arrivals</h1>
        <div class="hr-title"></div>
      </div>
      <div class="separator-subtitle">
        <p>Brand new products from top designers</p>
      </div>
    </section>

    <section id="arrow-display-large">
      <div class="arrow-display-large">
        <div class="scroll-left">
          <i class="fas fa-chevron-left"></i>
        </div>
        <div class="card" v-for="(immagine, index) in galleriaModelliLarge">
          <div class="card-image" v-if="index <= 3">
            <img :src="immagine" alt="">
          </div>
        </div>
        <div class="scroll-right">
          <i class="fas fa-chevron-right"></i>
        </div>
      </div>
    </section>

    <section id="testimonial">
      <div class="testimonials-container" style="background-image: url('./assets/img/testimonials_home_1_bg.jpg')">
        <div class="testimonial-card" v-if="categoriaAttiva == 1">
          <div class="testimonial-image">
            <img :src="testimonial1.foto" alt="">
          </div>
          <div class="testimonial-text">
            <p class="testimonial-description">{{testimonial1.descrizione}}</p>
            <span class="testimonial-name">{{testimonial1.nome}},</span>
            <span>{{testimonial1.impiego}}</span>
            <div class="testimonial-dots">
              <i class="fas fa-circle" @click="elemento1"></i>
              <i class="far fa-circle" @click="elemento2"></i>
            </div>
          </div>
        </div>
        <div class="testimonial-card" v-if="categoriaAttiva == 2">
          <div class="testimonial-image">
            <img :src="testimonial2.foto" alt="">
          </div>
          <div class="testimonial-text">
            <p class="testimonial-description">{{testimonial2.descrizione}}</p>
            <span class="testimonial-name">{{testimonial2.nome}},</span>
            <span>{{testimonial2.impiego}}</span>
            <div class="testimonial-dots">
              <i class="far fa-circle" @click="elemento1"></i>
              <i class="fas fa-circle" @click="elemento2"></i>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="separator-title">
        <div class="hr-title"></div>
        <h1>From our blog</h1>
        <div class="hr-title"></div>
      </div>
      <div class="separator-subtitle">
        <p>The latest Classic Shop news</p>
      </div>
    </section>

    <section>
      <div class="blog-articles">
        <div class="article-card-container">
          <div class="article-card">
            <div class="article-img">
              <img src="./assets/img/post_img_10-320x202.jpg" alt="">
            </div>
            <div class="card-text">
              <h3>Lorem ipsum</h3>
              <span>date 23/11/2021</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
        <div class="article-card-container">
          <div class="article-card">
            <div class="article-img">
              <img src="./assets/img/post_img_11-320x202.jpg" alt="">
            </div>
            <div class="card-text">
              <h3>Lorem ipsum</h3>
              <span>date 23/11/2021</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
        <div class="article-card-container">
          <div class="article-card">
            <div class="article-img">
              <img src="./assets/img/post_img_12-320x202.jpg" alt="">
            </div>
            <div class="card-text">
              <h3>Lorem ipsum</h3>
              <span>date 23/11/2021</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <hr class="footer-separator">
    </section>

  </main>

  <footer>

    <section>
      <div class="best-deals-container">
        <div class="best-deals-column">
          <h1>FEATURED</h1>
          <div class="best-deals-card">
            <div class="product-info">
              <div class="product-name">
                <p></p>
              </div>
              <div class="stars">
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
              </div>
              <div class="product-price">
                <span class="old-price"></span>
                <span class="new-price"></span>
              </div>
            </div>
            <div class="product-image">
              <img src="" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="brand-logos">
        <h4>BRAND LOGOS</h4>
        <div class="logos-container">
          <img src="./assets/img/b_logotype_6.png" alt="">
          <img src="./assets/img/b_logotype_7.png" alt="">
          <img src="./assets/img/b_logotype_1.png" alt="">
          <img src="./assets/img/b_logotype_2.png" alt="">
          <img src="./assets/img/b_logotype_3.png" alt="">
        </div>
      </div>
    </section>

    <section id="mail-subscribe">
      <div class="subscribe-container">
        <div class="subscribe-elements">
          <div class="subscribe-info">
            <div class="icon-container">
              <i class="far fa-envelope"></i>
            </div>
            <h1>Subscribe now and get special offers</h1>
          </div>
          <div class="subscribe-input">
            <input type="text" value="" placeholder="Insert your adress" v-model="indirizzoCliente">
            <button class="shop-button" click="sendAdress">SEND</button>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="payment-methods-container">
        <div class="company-info">
          <span>Copyright 2012-2020</span>
          <span> | </span>
          <span>Avada Theme by Theme Fusion</span>
          <span> | </span>
          <span>All Rights Reserved</span>
          <span> | </span>
          <span>Powered by Wordpress</span>
        </div>
        <div class="payment-methods">
          <i class="far fa-credit-card"></i>
          <i class="fab fa-cc-visa"></i>
          <i class="fab fa-cc-visa"></i>
          <i class="fab fa-cc-mastercard"></i>
          <i class="fab fa-cc-amazon-pay"></i>
        </div>
      </div>
    </section>

  </footer>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="./src/vuejs/main.js" charset="utf-8"></script>

</body>
</html>
