* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.bgc-white {
  background-color: #ffffff;
}

.navbar-active {
  color: #333333;
  border-top: 1px solid #333333;
}

.shop-button {
  padding: 10px 20px;
  background-color: #333333;
  color: #ffffff;
  border-radius: 20px;
}

.jumbo-button {
  margin: 20px 10px;
  padding: 20px 40px;
  border: 3px solid #ffffff;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  font-size: 20px;
}

.shop-bar {
  margin-left: 20vw;
  margin-right: 20vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #EFEFEF;
}
.shop-bar .contact-icons a {
  padding: 10px;
  color: #6b6a6b;
}
.shop-bar .shopping-buttons button {
  height: 50px;
  padding: 0 10px;
  border-left: 1px solid #EFEFEF;
  color: #6b6a6b;
}
.shop-bar .shopping-buttons .cart-button {
  padding: 0 60px;
  color: #000000;
}

.jumbo {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center top;
  background-size: cover;
}
.jumbo h1 {
  margin-top: 50px;
  font-size: 80px;
  color: #ffffff;
  font-weight: bold;
}
.jumbo h2 {
  color: #ffffff;
  margin: 30px 0;
  font-size: 30px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20vw;
  margin-right: 20vw;
}
.navbar .logo-left img {
  margin: 20px 0;
}
.navbar .nav-menu ul {
  list-style: none;
}
.navbar .nav-menu ul li {
  float: left;
  padding: 0 10px;
  color: #6b6a6b;
}
.navbar .nav-menu ul li button {
  position: relative;
  top: -10px;
  margin: 0 20px;
}
.navbar .nav-menu ul li i {
  padding-left: 3px;
}

.category-display .category-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-display .category-buttons button {
  margin: 50px 0;
  padding: 10px 40px;
  border: 1px solid #a0a5a5;
  background-color: #EFEFEF;
}
.category-display .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.category-display .card .card-info {
  position: relative;
  left: -50px;
}
.category-display .card .card-info .item-title {
  margin: 20px 0 10px 0;
}
.category-display .card .card-info .item-description {
  margin: 10px 0;
  color: #a0a5a5;
}
.category-display .card .card-info .item-old-price {
  margin: 10px 0;
  color: #333333;
  text-decoration: line-through;
}
.category-display .card .card-info .item-new-price {
  margin: 10px 5px;
  color: #333333;
  font-size: 24px;
}

.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}
.season-display .season-jumbo {
  height: 60vh;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center top;
  background-size: cover;
}
.season-display .season-jumbo .season-jumbo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 100px;
}
.season-display .season-jumbo .season-jumbo-text h1 {
  margin-top: 30px;
  font-size: 60px;
  color: #ffffff;
  font-weight: bold;
}
.season-display .season-jumbo .season-jumbo-text h2 {
  color: #ffffff;
  margin: 15px 0;
  font-size: 20px;
}
.season-display .season-jumbo .season-jumbo-text button {
  margin: 10px 5px;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ffffff;
}

.separator-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.separator-title .hr-title {
  margin: 100px 50px 0 50px;
  width: 20%;
  border-top: 3px solid #EFEFEF;
  border-radius: 50%;
}
.separator-title h1 {
  margin-top: 100px;
  font-size: 40px;
}

.separator-subtitle {
  margin: 10px 0 50px 0;
  color: #a0a5a5;
  text-align: center;
}
