* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.bgc-white {
  background-color: #ffffff;
}

.shop-bar {
  margin-left: 20vw;
  margin-right: 20vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #EFEFEF;
}
.shop-bar .contact-icons a {
  padding: 10px;
  color: #6b6a6b;
}
.shop-bar .shopping-buttons button {
  height: 50px;
  padding: 0 10px;
  border-left: 1px solid #EFEFEF;
  color: #6b6a6b;
}
.shop-bar .shopping-buttons .cart-button {
  padding: 0 60px;
  color: #000000;
}
