* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.bgc-white {
  background-color: #ffffff;
}

.shop-button {
  padding: 10px 20px;
  background-color: #333333;
  color: #ffffff;
  border-radius: 20px;
}

.jumbo-button {
  margin: 20px 10px;
  padding: 20px 40px;
  border: 3px solid #ffffff;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  font-size: 20px;
}

.fixed-bar {
  height: auto;
  width: auto;
  position: fixed;
  right: 0;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.fixed-bar .first-fixed-button {
  height: 70px;
  width: 70px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 10px 50px;
  box-shadow: 5px 10px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px 50px 10px 50px;
}
.fixed-bar .first-fixed-button i {
  font-size: 26px;
}
.fixed-bar .fixed-button {
  height: 70px;
  width: 70px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 10px 50px;
  box-shadow: 5px 10px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fixed-bar .fixed-button h1 {
  color: #68bd7e;
}

.shop-bar {
  margin-left: 20vw;
  margin-right: 20vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #EFEFEF;
}
.shop-bar .contact-icons a {
  padding: 10px;
  color: #6b6a6b;
}
.shop-bar .shopping-buttons button {
  height: 50px;
  padding: 0 10px;
  border-left: 1px solid #EFEFEF;
  color: #6b6a6b;
}
.shop-bar .shopping-buttons .cart-button {
  padding: 0 60px;
  color: #000000;
}

.jumbo {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center top;
  background-size: cover;
}
.jumbo h1 {
  margin-top: 50px;
  font-size: 80px;
  color: #ffffff;
  font-weight: bold;
}
.jumbo h2 {
  color: #ffffff;
  margin: 30px 0;
  font-size: 30px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20vw;
  margin-right: 20vw;
}
.navbar .logo-left img {
  margin: 20px 0;
}
.navbar .nav-menu ul {
  list-style: none;
}
.navbar .nav-menu ul li {
  border-top: 3px solid #ffffff;
  height: 87px;
  float: left;
  margin: 0 10px;
  padding-top: 30px;
  color: #6b6a6b;
}
.navbar .nav-menu ul li:hover {
  color: #333333;
  border-top: 3px solid #333333;
}
.navbar .nav-menu ul li button {
  position: relative;
  bottom: 10px;
  margin: 0 20px;
}
.navbar .nav-menu ul li i {
  padding-left: 3px;
}
.navbar .nav-menu ul .navbar-active {
  color: #333333;
  border-top: 3px solid #333333;
}
.navbar .navbar .nav-menu {
  height: 87px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .navbar .nav-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .navbar .nav-menu li button {
  position: relative;
  top: 50%;
}

#category-display .category-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
#category-display .category-buttons button {
  margin: 50px 0;
  padding: 10px 40px;
  border: 1px solid #a0a5a5;
  background-color: #EFEFEF;
}
#category-display .category-buttons .active {
  background-color: #ffffff;
}
#category-display .category-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
#category-display .category-cards .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
}
#category-display .category-cards .card .card-info .item-title {
  margin: 20px 0 10px 0;
}
#category-display .category-cards .card .card-info .item-description {
  margin: 10px 0;
  color: #a0a5a5;
}
#category-display .category-cards .card .card-info .item-old-price {
  margin: 10px 0;
  color: #333333;
  text-decoration: line-through;
}
#category-display .category-cards .card .card-info .item-new-price {
  margin: 10px 5px;
  color: #333333;
  font-size: 24px;
}
#category-display .hidden {
  display: none;
}

.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0 0 0;
}
.season-display .season-jumbo {
  height: 60vh;
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center top;
  background-size: cover;
}
.season-display .season-jumbo .season-jumbo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 100px;
}
.season-display .season-jumbo .season-jumbo-text h1 {
  margin-top: 30px;
  font-size: 60px;
  color: #ffffff;
  font-weight: bold;
}
.season-display .season-jumbo .season-jumbo-text h2 {
  color: #ffffff;
  margin: 15px 0;
  font-size: 20px;
}
.season-display .season-jumbo .season-jumbo-text button {
  margin: 10px 5px;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ffffff;
}

.arrow-display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.arrow-display .scroll-left, .arrow-display .scroll-right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 20px;
  background-color: #a0a5a5;
  color: #ffffff;
}

.promotions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 100px 0 0 0;
  background-position: center;
  background-size: cover;
}
.promotions-container .promotions-discount, .promotions-container .promotions-shipping {
  height: 40vh;
  width: calc(40vw - 100px);
  margin: 0 25px;
  background-position: center;
  background-size: cover;
}
.promotions-container .promotions-discount .promotions-text, .promotions-container .promotions-shipping .promotions-text {
  margin-left: 50px;
  flex-direction: column;
  position: relative;
  top: 50px;
}
.promotions-container .promotions-discount .promotions-text h1, .promotions-container .promotions-shipping .promotions-text h1 {
  margin-top: 30px;
  font-size: 60px;
  color: #ffffff;
  font-weight: bold;
}
.promotions-container .promotions-discount .promotions-text h2, .promotions-container .promotions-shipping .promotions-text h2 {
  color: #ffffff;
  margin: 15px 0;
  width: 50%;
}
.promotions-container .promotions-discount .promotions-text button, .promotions-container .promotions-shipping .promotions-text button {
  margin: 10px 5px;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ffffff;
}

.arrow-display-large {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.arrow-display-large .scroll-left, .arrow-display-large .scroll-right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 20px;
  background-color: #a0a5a5;
  color: #ffffff;
}

.testimonials-container {
  height: 50vh;
  margin: 100px 0 0 0;
  background-position: center;
  background-size: cover;
}
.testimonials-container .testimonial-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  width: 60%;
  text-align: center;
  color: #ffffff;
  position: relative;
  left: 20%;
}
.testimonials-container .testimonial-card img {
  margin: 20px 0;
}
.testimonials-container .testimonial-card p {
  margin: 30px 0;
  font-size: 20px;
  font-style: italic;
}
.testimonials-container .testimonial-card span {
  margin: 30px 0;
  font-size: 20px;
}
.testimonials-container .testimonial-card .testimonial-name {
  font-weight: bold;
}
.testimonials-container .testimonial-card i {
  margin: 30px 5px;
}

.blog-articles {
  margin-top: 100px;
  margin-left: 20vw;
  margin-right: 20vw;
  display: flex;
  justify-content: space-between;
}
.blog-articles .article-card-container {
  width: calc(33% - 50px);
}
.blog-articles .article-card-container .article-card h3 {
  margin: 10px 0 2px 0;
}
.blog-articles .article-card-container .article-card span {
  color: #64686c;
}
.blog-articles .article-card-container .article-card p {
  margin-top: 10px;
  color: #64686c;
}

.footer-separator {
  margin: 100px 0;
  width: 90%;
  position: relative;
  left: 5%;
  border: 2px solid #EFEFEF;
  border-radius: 50%;
}

.separator-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.separator-title .hr-title {
  margin: 100px 50px 0 50px;
  width: 20%;
  border-top: 3px solid #EFEFEF;
  border-radius: 50%;
}
.separator-title h1 {
  margin-top: 100px;
  font-size: 40px;
}

.separator-subtitle {
  margin: 10px 0 50px 0;
  color: #64686c;
  text-align: center;
}

.best-deals-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.best-deals-container .best-deals-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 15vw;
}
.best-deals-container .best-deals-column h1 {
  color: #64686c;
  font-weight: normal;
}
.best-deals-container .best-deals-column .best-deals-card {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #a0a5a5;
  margin: 10px 20px;
  width: 12vw;
  overflow-x: auto;
}
.best-deals-container .best-deals-column .best-deals-card .product-info p {
  color: #64686c;
}
.best-deals-container .best-deals-column .best-deals-card .product-info .stars {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin-top: 10px 0;
}
.best-deals-container .best-deals-column .best-deals-card .product-info .stars i {
  color: #333333;
}
.best-deals-container .best-deals-column .best-deals-card .product-info .product-price .old-price {
  color: #2a2f33;
  font-size: 14px;
  text-decoration: line-through;
}
.best-deals-container .best-deals-column .best-deals-card .product-info .product-price .new-price {
  color: #2a2f33;
  text-decoration: underline;
}
.best-deals-container .best-deals-column .best-deals-card .product-image {
  margin: 5px;
}
.best-deals-container .best-deals-column .best-deals-card .product-image img {
  height: 80px;
  width: auto;
}

.brand-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #EFEFEF;
  margin-top: 50px;
}
.brand-logos h4 {
  color: #64686c;
  margin-top: 50px;
  font-weight: normal;
}
.brand-logos .logos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.brand-logos .logos-container img {
  margin: 10px;
}

.subscribe-container {
  height: 20vh;
  background-color: #303337;
}
.subscribe-container .subscribe-elements {
  height: 20vh;
  margin-left: 20vw;
  margin-right: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.subscribe-container .subscribe-elements .subscribe-info {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.subscribe-container .subscribe-elements .subscribe-info .icon-container {
  height: 50px;
  width: 50px;
  background-color: #2a2f33;
  border-radius: 50%;
  margin-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe-container .subscribe-elements .subscribe-info .icon-container i {
  color: #6b6a6b;
}
.subscribe-container .subscribe-elements .subscribe-info h1 {
  color: #ffffff;
  font-size: 30px;
}
.subscribe-container .subscribe-elements .subscribe-input input {
  padding: 5px;
  border-radius: 30px;
}

.payment-methods-container {
  background-color: #1d1f22;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.payment-methods-container .company-info {
  margin-top: 20px;
}
.payment-methods-container .company-info span {
  color: #ffffff;
}
.payment-methods-container img {
  margin: 20px 0;
}
