// FLEX
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// MARGIN
@mixin lateral-margin-20 {
  margin-left: 20vw;
  margin-right: 20vw;
}

// CONTACT ICONS
@mixin contact-icon {
  padding: 10px;
  color: $fedora;
}
