// COLORI

$white: #ffffff;
$shark: #2a2f33;
$shocking: #e280b1;
$fedora: #6b6a6b;
$havelock-blue: #427ed5;
$tuscany: #bd6e29;
$bright-turquoise: #29f1f3;
$regent-st-blue: #a2bfe3;
$tamarillo: #940e19;
$confetti: #e6ca5c;

$melanie: #e6c3d3;
$shark-median: #2f3034;
$americano: #89746c;
$lavender-purple: #8778b6;
$cascade: #97acae;

$tan-vibrant: #d0a890;
$edward-muted: #a0a5a5;
$burnt-umber-dark-vibrant: #882236;
$nevada-dark-muted: #64686c;
$shocking-light-vibrant: #db80b3;
